
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button],
input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea{
    font-size: medium ;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
        border: 1px solid rgb(78, 78, 78);
}

input[type=text] {
    border: 0.10rem solid #e2e2e2;
    border-radius: 5px;
    border-color: rgp(240, 240, 240);
    font-size: 20px;
    background-color: #f8f9fa;
    padding: 8px 0px;
    margin-bottom: 0.2rem;
    width: 300px;
    text-indent: 10px;
    transition: 0.3s;
    outline: none;
    resize: none;
}
td{
    padding-right: 30px;
    
}
table{
    padding-left: 10px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.3s;
  }
  
  .previous {
    background-color: #04AA6D;
    color: white;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }